{#  Twig form template #}
{% extends "racineGestionCandidatsBundle:Templates:header.html.twig" %}


{%block head %} {{parent()}} {% endblock %}
{%block header %}   
     <p class="p-line"> {% if error %}
                         <span class="error">{% if (error.message == "Bad credentials")
                                                     %}
                             code session erroné !!
                             {% endif %}</span>
                                                 {% endif %}</p>
            
				<div id="login_wrapper" class="form_wrapper">
                    
					<form class="login active" action="{{ path("_security_check_Candidat") }}"  method="post" >
						 <h3>Login</h3>
						     
                                                    <div>
                                                        
                                                     <label for="username">Code session :  </label>
                                                     <input type="text"  class="input-text" name="_codesession" value="{{ last_username }}" />
						     
						    </div>
						<div>
                                                     <label for="password">Resaisissez code session :  </label>
                                                     <input type="text"  name="_codesessionpass" class="input-text" />
					             
						</div>
						<div class="bottom">
							                           
							<input type="submit" value="se connecter" class="button"  />
                            <a href="{{path('_Candidat_inscription')}}"  >Vous n'êtes pas encore inscrit ?</a>
							<div class="clear"></div>
						</div>
					</form>
                    
                    
                    
                    
					
                    
                 </div>



{% endblock %}


           
				
			
		





{% block content %}
    <h1>Login</h1>
    

   

   
{% endblock %}

{% set code = code(_self) %}