{# right menu template #}
{% block rightmenu %}
<div id="right-menu">
              
              <div id="scrollbox">
              
              <form action="#" method="post" id="form-search">
                <input type="text" class="search" onblur="if(this.value==''){this.value='Search...'}" onfocus="if(this.value=='Search...'){this.value=''}" value="Search..." />
                <input type="submit" class="search-submit" value=" " />
	          </form>
              
              <div class="clear"></div>
              
              <input type="submit" class="common-button advanced-search" value="ADVANCED SEARCH" />
               
               <div class="clear"></div>
               
               <ul id="main-nav">  <!-- Accordion Menu -->
				
				
				<li>
                    <img src="images/menu-arrow.png" alt="Arrow" /> 
					<a href="#" class="nav-top-item current"> <!-- Add the class "current" to current menu item -->
					 Pending Tasks (4)
                    </a>
 
			         <ul style="display: block;">
						<li><a href="#">You have 75 potential Leads</a></li>
						<li><a href="#">Submit Report</a></li> <!-- Add class "current" to sub menu items also -->
						<li><a href="#">Metting 4:30 pm</a></li>
					 </ul>
				</li>
				
				<li>
                  <img src="images/menu-arrow.png" alt="Arrow" />
				  <a style="padding-right: 15px;" href="#" class="nav-top-item current">
						Todays Mail / Messages
				  </a>
                  
	          <ul style="display: none;">
						<li><a href="#">Hi, Akshay we are ...</a></li>
						<li><a href="#">Administration</a></li>
					</ul>
				</li>
				
				<li>
                  <img src="images/menu-arrow.png" alt="Arrow" />
				  <a href="#" class="nav-top-item current">
						Traffic Sources
				  </a>
				  <ul style="display: none;">
					<li><a href="#">Avg. Time on Site </a></li>
						<li><a href="#">213 New People <input type="button" class="common-button" value="View All" /></a></li>
						<li><a href="#">Bounce Rate 87.23%</a></li>
						<li><a href="#">Demo Submenu</a></li>
					</ul>
				</li>
				
				<li>
                    <img src="images/menu-arrow.png" alt="Arrow" />
					<a href="#" class="nav-top-item">
						Todays Events 05/09/1990
					</a>
					<ul style="display: none;">
						<li><a href="#">Project Testing</a></li>
						<li><a href="#">Web Designing</a></li>
						<li><a href="#">Mobile Applications</a></li>
					</ul>
				</li>
				
				<li>
					<a style="padding-right: 15px;" href="#" class="nav-top-item no-submenu">
					 Menu without Sub menu
                    </a>
				</li>   
				
			</ul>
             <!-- Accordion Menu  END-->
             
            </div> 
             
         </div>
            <!-- RIGHT MENU END -->
 {% endblock %}
       
