{# footer template #}
{% block footer %}

<div id="footer">
          COPYRIGHT &copy; Test en ligne  | ALL RIGHTS RESERVED
          <span>
          <a href="#">Help</a> &sdot; 
          <a href="#">Account Options</a> &sdot;
          <a href="#">Log out <img src="images/icons/logout.png" alt="logout" /></a> &sdot; 
          <a href="#">Email Us</a> &sdot;
          <a href="#">About Eternity</a> &sdot;
          <a href="#">Privacy Policy</a> &sdot;
          <a href="#">Terms Of Use</a> &sdot;
          <b>192.68.34.101</b>
          </span>
        </div>
</body>

{% endblock %}



