{# header template #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block head %} 
<head>
        {% stylesheets filter='cssrewrite' 'bundles/racinegestionutilisateur/css/*'
                                 'bundles/racinegestionutilisateur/css/smoothness/*' %}
               <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
         {% endstylesheets %}
        
    {% javascripts filter="" output="js/core.js" debug=true 'bundles/racinegestionutilisateur/js/jquery.js' 
                                                            'bundles/racinegestionutilisateur/js/custom.js'
                                                            'bundles/racinegestionutilisateur/js/jquery-ui-1.8.13.custom.min.js'
                                                            'bundles/racinegestionutilisateur/js/fullcalendar.min.js'
                                                            'bundles/racinegestionutilisateur/js/jquery.dataTables.js' 
                                                            'bundles/racinegestionutilisateur/js/jquery.fancybox.js'
                                                            'bundles/racinegestionutilisateur/js/StickyScroller.min.js'
                                                            'bundles/racinegestionutilisateur/js/elfinder.min.js'
                                                            'bundles/racinegestionutilisateur/js/jquery.msgbox.js'
                                                            'bundles/racinegestionutilisateur/js/jquery.simplemodal.js'
                                                            'bundles/racinegestionutilisateur/js/jquery.purr.js'
                                                            'bundles/racinegestionutilisateur/js/TableTools.min.js'
                                                            'bundles/racinegestionutilisateur/js/ZeroClipboard.js'
                                                            'bundles/racinegestionutilisateur/js/formwizard.js'
                                                            
    
                                                            
                                                                 
                                                            
                                                              %}
            <script src="{{ asset_url }}" type="text/javascript">
     
                                         
           
          </script>
     {% endjavascripts %}
    
      </head>
{% endblock %}

{% block header %}

   
    
      <body>

<div class="header">
    
    <div id="logo"><img src="{{ asset('bundles/racinegestionutilisateur/images/logo.png') }}" alt="Logo" /></div>
           
           <div class="top-nav">
               <ul>
                   <li><a href="#" title="Dashboard" class="active" ><img src="{{ asset('bundles/racinegestionutilisateur/images/icons/dashboard.png')}}" alt="Dasboard" />Dashboard</a></li><!--Add "active" Class for Current Page-->
                   
               </ul>
           </div>
    
   </div>
  

{% endblock %}



