{# header template #}
{% block header %}
<html>
   
    <head>
        {% stylesheets filter="" '@racineGestionUtilisateurBundle/Resources/public/css/*'
                                 '@racineGestionUtilisateurBundle/Resources/public/css/smoothness/*' %}
               <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
         {% endstylesheets %}
        
    {% javascripts filter="" output="js/core.js" debug=true '@racineGestionUtilisateurBundle/Resources/public/js/jquery.js' 
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/custom.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery-ui-1.8.13.custom.min.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/fullcalendar.min.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery.dataTables.js' 
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery.fancybox.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/elfinder.min.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery.msgbox.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery.simplemodal.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/jquery.purr.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/TableTools.min.js'
                                                            '@racineGestionUtilisateurBundle/Resources/public/js/ZeroClipboard.js'
                                                            
                                                                 
                                                            
                                                              %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
     {% endjavascripts %}
    
    
      </head>
      <body>

<div class="header">
    
    <div id="logo"><img src="../../public/images/logo.png" alt="Logo" /></div>
           
           <div class="top-nav">
               <ul>
                   <li><a href="#" title="Dashboard" class="active" ><img src="images/icons/dashboard.png" alt="Dasboard" />Dashboard</a></li><!--Add "active" Class for Current Page-->
                   <li><a href="forms.html" title="Forms" ><img src="images/icons/form.png" alt="Forms" />Forms Stuff</a></li>
                   <li><a href="elements.html" title="Elements" ><img src="images/icons/elements.png" alt="Elements" />UI Elements</a></li>
                   <li><a href="plugins.html" title="Plugins" ><img src="images/icons/plugins.png" alt="Plugins" />Plugins</a></li>
                   <li><a href="notifications.html" title="Notifications" ><img src="images/icons/notification.png" alt="Notifications" />Notifications</a></li>
                   <li><a href="error.html" title="Error Pages" ><img src="images/icons/error.png" alt="Error Pages" />Error Pages</a></li>
                   <li><a href="additional.html" title="Additional Elements" ><img src="images/icons/settings.png" alt="Additional" />Additional</a></li>
               </ul>
           </div>
    
   </div>

{% endblock %}



