{# footer template #}
{% block footer %}

<div id="footer">
          COPYRIGHT &copy; Test en ligne  | ALL RIGHTS RESERVED
          <span>
          <
          <a href="#"> Designed by MKproject team</a> &sdot;
          <b>127</b>
          </span>
        </div>
</body>

{% endblock %}



