{# empty Twig template #}

{% block content %}
    <h1>Login</h1>
    

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("_security_check") }}" method="post" id="login">
        <div>
            <label for="username">Username :  </label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
<br>
        <div>
            <label for="password">Password :  </label>
            <input type="password" id="password" name="_password" />
        </div>
<br>
            <div>
                <label for="remember_me">Se souvenir de moi</label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked /> 
            
            </div>
<br>
        <input type="submit" class="symfony-button-grey" value="Connecter" />
        
        
        
    </form>
{% endblock %}

{% set code = code(_self) %}